/*
GERAL
*/

body { 
font-family: "Open Sans", Helvetica, Arial, sans-serif;
color: gray;
}

h1, h2, {
margin: 0;
font-family: " Open Sans semi-bold 600", helvetica, arial, sans-serif;
font-weight: 700;
    }
    
.botao {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: black;
    font-size: .9em;
    border-radius: 3px;
    
    }
/* 
NAVEGAÇÃO
*/
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
        
     }

Nav > a {
    text-decoration: nome;
    color: #ffff;
    font-size: 28px;
    padding-top: 10px;
           
    }
nav ul { list-style: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

nav ul li{
    text-align: center;
    width: 100%;
    }

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffff;
    
    }


           

/*
CABEÇALHO
*/
header { color: #636363;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    padding: inherit;
    }

header p {
    margin-bottom: 2em;
}

/* 
SOBRE
*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 0 20px 20px;
      
}

#sobre p {
    margin-bottom: 2.5em; 
    max-width: 1000px;
    
}

/*
SERVIÇOS
*/

#servicos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    
}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    
}

/*
PORTFOLIO
*/

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

#portfolio img {
    
    width: 100%;
    
}

/*
CONTATO
*/

#contato {
   display: flex;
    flex-direction: column;
     align-items: center;
    text-align: center;
    background-color: black;
    color: white;
     }
#contato a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    
    
}
/*
FOOTER
*/

footer{
    text-align: center;
    padding: 10px;
    
}

/* 
MEDIA QUERIES
*/

@media screen and (min-width: 768px)
{
    /*
    NAVEGAÇÃO
    */
    
    nav {
        flex-direction: row;
        justify-content: space-around;
         }
    nav ul {
        flex-direction: row;
        width: 70%;
        
     }
    
    /*
    CABEÇALHO
    */
    
    header {
    flex-direction: row;
    align-items: flex-start;
        
    }
      /*
    CABEÇALHO
    */
    
    
    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
        
    }
    
    #servicos h2 {
        text-align: center;
        width: 100%;
        
        }
    #servicos div {
        flex-grow 1;
        flex-basis: 250px;
        padding: 30px;
        
        
    }
      /*
 PORTFOLIO
    */
    
    #portfolio {
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    #portfolio h2 {
        width:100%;
        text-align: center;
        
    }
   #portfolio img {
        width: 33.333333333%;
        
    }
        /*
CONTATO
    */
    #contato {
       flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #contato h2,
    #contato p {
        width: 100%;
    }
    
}
	




















